<div class="nested-fields">
  <div class="form-group wallet-form">
    <div class="row no-gutter">
      <div class="col-6">
        <%= f.label :address, 'Masternode Wallet Address' %>
      </div>
      <div class="col-6 right">
       <%= link_to_remove_association "Remove", f, class: 'btn btn-danger btn-sm remove' unless local_assigns[:remove_disabled] %>
      </div>
    </div>
    <%= f.text_field :address, class: 'form-control', placeholder: 'Must have a balance of at least 1000 CHC' %>
    <%= f.label :description, 'Masternode Name' %>
    <%= f.text_field :description, class: 'form-control', placeholder: 'Optional e.g. Masternode 1' %>
  </div>
</div>
