<% content_for :title do %>
  - Track your chaincoin masternode earnings easily!
<% end %>
<h4>Welcome <i class="fa fa-smile-o" aria-hidden="true"></i></h4>
<p>
ChainTrack is a simple way to track your earnings across all of your chaincoin masternodes. Just add your masternode wallet addresses below and start tracking. No account required!
</p>
<% if @track.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h3>This form contains <%= pluralize(@track.errors.count, "error") %>:</h3>
    <ul>
    <% @track.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @track do |f| %>
  <%= f.fields_for :wallets do |w| %>
    <%= render 'wallet_fields', f: w, remove_disabled: w.index == 0 %>
  <% end %>
  <div class="links">
    <% if Rails.env.production? %>
      <div id="recaptcha"><%= recaptcha_tags %></div>
    <% end %>
    <%= f.submit 'Start Tracking', class: 'btn btn-primary' %>
    <%= link_to_add_association ' Add More', f, :wallets, class: 'btn btn-secondary' %>
  </div>
<% end %>
