<% content_for :title do %>
  - CHC <%= number_with_precision(@track.total_chc, precision: 8) %>
<% end %>
<div class="row no-gutters">
  <div class="col-6">
    <h4>Your Earnings <i class="fa fa-money" aria-hidden="true"></i></h4>
  </div>
  <div class="col-6 right">
    <div class="inline-block">
      <%= form_for @track, url: { action: 'update', controller: 'tracks', id: @track.token } do |f| %>
        <%= f.collection_select :currency_id, Currency.all, :id, :name, { prompt: 'Currency' },
          { onchange: 'this.form.submit()' } %>
      <% end %>
    </div>
  </div>
</div>
<div id="summary" class="alert alert-primary" role="alert" data-token="<%= @track.token %>">
  <i class="fa fa-cog fa-spin fa-1x fa-fw"></i>
</div>
<div class="row cards">
  <% @track.wallets.each_with_index do |wallet, index| %>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="card bg-light mb-3" data-id="<%= wallet.id %>"
      data-toggle="tooltip" title="<%= wallet.description %>">
        <div class="card-header">
          Wallet <%= index + 1 %>
          <%= render 'last_changed', wallet: wallet  %>
        </div>
        <div class="card-body">
          <i class="fa fa-cog fa-spin fa-2x fa-fw"></i>
        </div>
      </div>
    </div>
  <% end %>
</div>
<p class="note">* Earnings updated every hour</p>
<div id="menu">
  <%= link_to 'Edit', {action: 'edit', controller: 'tracks', id: @track.token}, class: 'btn btn-outline-secondary' %>
  <%= link_to 'Delete', {action: 'destroy', controller: 'tracks', id: @track.token },
    method: 'delete', data: { confirm: 'All of your wallets will be deleted. Are you sure?' }, class: 'btn btn-outline-danger' %>
</div>
