<ul class="list-group list-group-flush">
  <li class="list-group-item bg-light">
    <a href="http://104.238.153.140:3001/address/<%= @wallet.address %>" target="_blank">
      CHC <%= number_with_precision(@wallet.chc_earned, precision: 8) %>
    </a>
  </li>
  <li class="list-group-item bg-light">
    <%= number_to_currency(@wallet.secondary_earned, unit: @wallet.track.currency_unit, precision: @wallet.track.currency_precision, format: '%u %n') %>
  </li>
  <li class="list-group-item bg-light">
    <button type="button" class="btn btn-primary btn-sm" data-container="body"
    data-toggle="popover" data-placement="bottom" data-html="true"
    data-content="<%=h render partial: 'address', locals: { wallet: @wallet } %>">
      Show Address
    </button>
  </li>
</ul>
