<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ChainTrack.IO<%= yield :title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', defer: true %>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet"> 
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted float-left">
          <a href="/" id="logo">ChainTrack <i class="fa fa-link" aria-hidden="true"></i> IO</a>
        </h3>
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:deadcast@sent.com">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
      <% flash.each do |name, msg| -%>
        <div class="alert alert-<%= name %> alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= msg %>
        </div>
      <% end -%>
      <%= yield %>
      <footer class="footer">
        <p>&copy; Caleb Cohoon <%= Time.current.year %> | <%= link_to 'Terms & Privacy', '/terms_and_privacy' %> | Donate CHC <i class="fa fa-heart red" aria-hidden="true"></i> CV5S57UFk2kxc1rFeZ76fef4TKGK72jwUh</p>
      </footer>
    </div>
    <a href="https://gitlab.com/deadcast/ChainTrack" style="position:absolute;right:0;top:0;margin:8px;" target="_new">
      <%= image_tag('gitlab.svg', alt: 'Fork me on GitLab', width: '32px') %>
    </a>
  </body>
</html>
